*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
@color:#006699;

#header{
	// width: 100%;
	position: relative;
	height: 40px;
	background-color: @color;
	
	h4{
		text-align: center;
		font-weight: normal;
		line-height: 40px;
		color: #fff;
		margin: 0;
	}

	a{
		color: #fff;
		position: absolute;
		top: 12px;
		right: 5px;
	}
}

